.wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.wrapper .div {
  background-color: #ffffff;
  height: 3279px;
  position: relative;
  width: 1440px;
}

.wrapper .frame {
  background-color: #36375c;
  height: 549px;
  left: 0;
  position: absolute;
  top: 138px;
  width: 1440px;
}

.wrapper .text-wrapper {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 80px;
  font-weight: 700;
  height: 177px;
  left: 386px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 146px;
  width: 705px;
}

.wrapper .navbar {
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: #2905f9;
  border-radius: 2px;
  height: 138px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1440px;
}

.wrapper .button {
  all: unset;
  align-items: flex-start;
  background-color: #ffffff66;
  border: 1px solid;
  border-color: #000000;
  border-radius: 10px;
  box-sizing: border-box;
  display: inline-flex;
  gap: 10px;
  left: 1152px;
  padding: 15px 20px;
  position: absolute;
  top: 43px;
}

.wrapper .text-wrapper-2 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.wrapper .nav-links {
  align-items: center;
  display: flex;
  gap: 20px;
  height: 50px;
  justify-content: center;
  left: 397px;
  padding: 5px 20px;
  position: absolute;
  top: 46px;
  width: 646px;
}

.wrapper .text-wrapper-3 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.wrapper .text-wrapper-4 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.wrapper .text-wrapper-5 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 92px;
}

.wrapper .div-wrapper {
  all: unset;
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 10px;
  box-sizing: border-box;
  display: inline-flex;
  gap: 10px;
  left: 1271px;
  padding: 15px 20px;
  position: absolute;
  top: 43px;
}

.wrapper .text-wrapper-6 {
  color: #000000;
  font-family: "Griffy", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 78px;
  left: 55px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 325px;
}

.wrapper .overlap {
  height: 1491px;
  left: 42px;
  position: absolute;
  top: 741px;
  width: 1379px;
}

.wrapper .frame-2 {
  height: 165px;
  left: 146px;
  position: absolute;
  top: 0;
  width: 1064px;
}

.wrapper .p {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 55px;
  font-weight: 600;
  height: 146px;
  left: 70px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 923px;
}

.wrapper .frame-3 {
  height: 165px;
  left: 141px;
  position: absolute;
  top: 418px;
  width: 1064px;
}

.wrapper .text-wrapper-7 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 600;
  height: 146px;
  left: 70px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 923px;
}

.wrapper .our-password-wrapper {
  height: 293px;
  left: 0;
  position: absolute;
  top: 137px;
  width: 1355px;
}

.wrapper .our-password {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 26px;
  font-weight: 400;
  height: 241px;
  left: 53px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 1241px;
}

.wrapper .span {
  font-weight: 800;
}

.wrapper .text-wrapper-8 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0;
}

.wrapper .overlap-group-wrapper {
  height: 820px;
  left: 0;
  position: absolute;
  top: 506px;
  width: 422px;
}

.wrapper .overlap-group {
  height: 779px;
  left: 16px;
  position: relative;
  top: 40px;
  width: 394px;
}

.wrapper .rectangle {
  background-color: #bfb7b7;
  border-radius: 22px;
  height: 761px;
  left: 0;
  position: absolute;
  top: 0;
  width: 394px;
}

.wrapper .fares-islam-content {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 34px;
  font-weight: 500;
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 147px;
  width: 339px;
}

.wrapper .text-wrapper-9 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 0;
}

.wrapper .text-wrapper-10 {
  font-size: 29px;
}

.wrapper .overlap-wrapper {
  height: 841px;
  left: 455px;
  position: absolute;
  top: 506px;
  width: 445px;
}

.wrapper .overlap-2 {
  background-color: #36375c;
  border-radius: 12px;
  height: 761px;
  left: 16px;
  position: relative;
  top: 43px;
  width: 404px;
}

.wrapper .text-wrapper-11 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 33px;
  font-weight: 400;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 147px;
  width: 324px;
}

.wrapper .UI-designer-lorem {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 29px;
  font-weight: 400;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 235px;
  width: 347px;
}

.wrapper .frame-4 {
  height: 826px;
  left: 914px;
  position: absolute;
  top: 524px;
  width: 465px;
}

.wrapper .yi-wang-developer-wrapper {
  background-color: #000000;
  border-radius: 12px;
  height: 761px;
  left: 18px;
  position: relative;
  top: 28px;
  width: 419px;
}

.wrapper .yi-wang-developer {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 33px;
  font-weight: 400;
  left: 35px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 147px;
  width: 339px;
}

.wrapper .text-wrapper-12 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 33px;
  font-weight: 400;
  letter-spacing: 0;
}

.wrapper .frame-5 {
  height: 165px;
  left: 118px;
  position: absolute;
  top: 1326px;
  width: 1064px;
}

.wrapper .frame-6 {
  border: 1px solid;
  border-color: #000000;
  border-radius: 30px;
  height: 680px;
  left: 252px;
  overflow: hidden;
  position: absolute;
  top: 2239px;
  width: 934px;
}

.wrapper .text-wrapper-13 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 29px;
  font-weight: 300;
  left: 81px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 82px;
  width: 294px;
}

.wrapper .img {
  height: 60px;
  left: 81px;
  position: absolute;
  top: 137px;
  width: 719px;
}

.wrapper .text-wrapper-14 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 33px;
  font-weight: 300;
  left: 81px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 215px;
  width: 94px;
}

.wrapper .rectangle-2 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 12px;
  height: 60px;
  left: 81px;
  position: absolute;
  top: 266px;
  width: 717px;
}

.wrapper .text-wrapper-15 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 33px;
  font-weight: 300;
  left: 81px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 347px;
  width: 165px;
}

.wrapper .rectangle-3 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 12px;
  height: 60px;
  left: 81px;
  position: absolute;
  top: 413px;
  width: 717px;
}

.wrapper .frame-7 {
  background-color: #000000;
  border: 1px solid;
  border-radius: 20px;
  height: 71px;
  left: 81px;
  overflow: hidden;
  position: absolute;
  top: 506px;
  width: 204px;
}

.wrapper .text-wrapper-16 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 33px;
  font-weight: 300;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  width: 161px;
}

.wrapper .footer {
  background-color: #000000;
  height: 207px;
  left: 0;
  position: absolute;
  top: 3072px;
  width: 1440px;
}

.wrapper .designed-developed {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 600;
  height: 63px;
  left: 419px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 32px;
  width: 620px;
}

.wrapper .text-wrapper-17 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 600;
  height: 63px;
  left: 419px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 620px;
}
