.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div-2 {
    background-color: #ffffff;
    height: 1240px;
    position: relative;
    width: 1440px;
  }
  
  .desktop .footer {
    background-color: #000000;
    height: 192px;
    left: 0;
    position: absolute;
    top: 1048px;
    width: 1440px;
  }
  
  .desktop .designed-developed {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 600;
    height: 63px;
    left: 419px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 32px;
    width: 620px;
  }
  
  .desktop .text-wrapper {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 600;
    height: 63px;
    left: 419px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 95px;
    width: 620px;
  }
  
  .desktop .log-in {
    height: 886px;
    left: 0;
    position: absolute;
    top: 138px;
    width: 1440px;
  }
  
  .desktop .frame-2 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    left: 226px;
    position: relative;
    top: 104px;
  }
  
  .desktop .frame-3 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-end;
    position: relative;
  }
  
  .desktop .logo {
    background-color: #c4c4c4;
    border-radius: 24px;
    height: 48px;
    position: relative;
    width: 48px;
  }
  
  .desktop .text-wrapper-2 {
    color: #333333;
    font-family: "Poppins", Helvetica;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .desktop .frame-4 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
  }
  
  .desktop .div-3 {
    height: 451px;
    position: relative;
    width: 482px;
  }
  
  .desktop .frame-5 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    left: 64px;
    position: relative;
    top: 44px;
  }
  
  .desktop .text-wrapper-3 {
    color: #111111;
    font-family: "Times New Roman-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .desktop .div-4 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    position: relative;
    width: 354px;
  }
  
  .desktop .label {
    align-self: stretch;
    background: none;
    border: none;
    color: #666666;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 27px;
    letter-spacing: 0;
    line-height: normal;
    padding: 0;
    padding-left: 0;
    position: relative;
    width: 100%;
  }
  
  .desktop .text-field {
    align-self: stretch;
    border: 1px solid;
    border-color: #66666659;
    border-radius: 12px;
    height: 56px;
    position: relative;
    width: 100%;
  }
  
  .desktop .frame-6 {
    align-self: stretch;
    height: 27px;
    position: relative;
    width: 100%;
  }
  
  .desktop .label-2 {
    color: #666666;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
  }
  
  .desktop .password-hide-see {
    height: 27px;
    left: 272px;
    position: absolute;
    top: 0;
    width: 75px;
  }
  
  .desktop .icon {
    height: 24px !important;
    left: 0 !important;
    position: absolute !important;
    top: 3px !important;
    width: 24px !important;
  }
  
  .desktop .text-wrapper-4 {
    color: #666666cc;
    font-family: "Poppins", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 0;
  }
  
  .desktop .frame-wrapper {
    all: unset;
    background-color: #111111;
    border-radius: 32px;
    box-sizing: border-box;
    height: 56px;
    opacity: 0.25;
    overflow: hidden;
    position: relative;
    width: 354px;
  }
  
  .desktop .sign-up-wrapper {
    align-items: center;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
    left: 144px;
    position: relative;
    top: 11px;
  }
  
  .desktop .sign-up-2 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .desktop .divider {
    align-items: center;
    display: flex;
    gap: 23px;
    position: relative;
    transform: rotate(-90deg);
    width: 451px;
  }
  
  .desktop .divider-2 {
    background-color: #66666640;
    flex: 1;
    flex-grow: 1;
    height: 2px;
    position: relative;
  }
  
  .desktop .text-wrapper-5 {
    color: #333333;
    font-family: "Times New Roman-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    transform: rotate(90deg);
    white-space: nowrap;
    width: fit-content;
  }
  
  .desktop .frame-7 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    left: 64px;
    position: relative;
    top: 118px;
  }
  
  .desktop .social-media-signup-login {
    height: 56px !important;
    position: relative !important;
    width: 354px !important;
  }
  
  .desktop .social-media-signup-instance {
    left: 54px !important;
    top: 15px !important;
  }
  
  .desktop .social-media-logo-4 {
    height: 24px !important;
    position: relative !important;
    width: 24px !important;
  }
  
  .desktop .social-media-signup-login-instance {
    font-family: "Times New Roman-Bold", Helvetica !important;
    font-size: 22px !important;
    font-weight: 700 !important;
    white-space: nowrap !important;
  }
  
  .desktop .button-instance {
    background-color: unset !important;
    border: 1px solid !important;
    border-color: #111111 !important;
    border-radius: 40px !important;
    height: 56px !important;
    position: relative !important;
    width: 354px !important;
  }
  
  .desktop .design-component-instance-node {
    gap: 16px !important;
    left: 69px !important;
  }
  
  .desktop .button-2 {
    color: #333333 !important;
    font-family: "Times New Roman-Bold", Helvetica !important;
    font-weight: 700 !important;
    white-space: nowrap !important;
  }
  
  .desktop .frame-8 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    position: relative;
  }
  
  .desktop .text-wrapper-6 {
    color: #111111;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-align: right;
    text-decoration: underline;
    width: fit-content;
  }
  
  .desktop .link-text {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    position: relative;
    width: 342px;
  }
  
  .desktop .by-creating-an {
    color: transparent;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .desktop .span {
    color: #666666;
  }
  
  .desktop .text-wrapper-7 {
    color: #333333;
    text-decoration: underline;
  }
  
  .desktop .navbar {
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #2905f9;
    border-radius: 2px;
    height: 138px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .desktop .frame-9 {
    height: 1239px;
    position: relative;
  }
  
  .desktop .div-wrapper {
    all: unset;
    align-items: flex-start;
    background-color: #ffffff66;
    border: 1px solid;
    border-color: #000000;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-flex;
    gap: 10px;
    left: 1152px;
    padding: 15px 20px;
    position: absolute;
    top: 43px;
  }
  
  .desktop .text-wrapper-8 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .desktop .nav-links {
    align-items: center;
    display: flex;
    gap: 20px;
    height: 50px;
    justify-content: center;
    left: 397px;
    padding: 5px 20px;
    position: absolute;
    top: 46px;
    width: 646px;
  }
  
  .desktop .text-wrapper-9 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .desktop .text-wrapper-10 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .desktop .text-wrapper-11 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 29px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: 92px;
  }
  
  .desktop .button-3 {
    all: unset;
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-flex;
    gap: 10px;
    left: 1271px;
    padding: 15px 20px;
    position: absolute;
    top: 43px;
  }
  
  .desktop .text-wrapper-12 {
    color: #000000;
    font-family: "Griffy", Helvetica;
    font-size: 40px;
    font-weight: 400;
    height: 78px;
    left: 55px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 31px;
    width: 325px;
  }
  