/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/about/style.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.welcome-section {
  padding: 40px;
  text-align: center;
  margin: auto;
}

.welcome-title {
  font-size: 40px;
  font-weight: 600;
  color: royalblue;
}

.welcome-description {
  font-size: 20px;
  line-height: 1.5;
  margin: 20px 0;
}

