.wrapper {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .wrapper .div {
    background-color: #ffffff;
    height: 2536px;
    position: relative;
    width: 1440px;
  }
  
  .wrapper .banner {
    height: 608px;
    left: 0;
    position: absolute;
    top: 139px;
    width: 1436px;
  }
  
  .wrapper .element {
    height: 608px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1434px;
  }
  
  .wrapper .navbar {
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #2905f9;
    border-radius: 2px;
    height: 138px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .wrapper .button {
    all: unset;
    align-items: flex-start;
    background-color: #ffffff66;
    border: 1px solid;
    border-color: #000000;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-flex;
    gap: 10px;
    left: 1152px;
    padding: 15px 20px;
    position: absolute;
    top: 43px;
  }
  
  .wrapper .text-wrapper {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .wrapper .nav-links {
    align-items: center;
    display: flex;
    gap: 20px;
    height: 50px;
    justify-content: center;
    left: 397px;
    padding: 5px 20px;
    position: absolute;
    top: 46px;
    width: 646px;
  }
  
  .wrapper .text-wrapper-2 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .wrapper .text-wrapper-3 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: 78px;
  }
  
  .wrapper .text-wrapper-4 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 600;
    height: 29px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: 104px;
  }
  
  .wrapper .div-wrapper {
    all: unset;
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-flex;
    gap: 10px;
    left: 1271px;
    padding: 15px 20px;
    position: absolute;
    top: 43px;
  }
  
  .wrapper .text-wrapper-5 {
    color: #000000;
    font-family: "Griffy", Helvetica;
    font-size: 40px;
    font-weight: 400;
    height: 78px;
    left: 55px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 30px;
    width: 325px;
  }
  
  .wrapper .overlap {
    height: 692px;
    left: 38px;
    position: absolute;
    top: 761px;
    width: 1356px;
  }
  
  .wrapper .frame {
    height: 120px;
    left: 351px;
    position: absolute;
    top: 0;
    width: 650px;
  }
  
  .wrapper .text-wrapper-6 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 60px;
    font-weight: 600;
    height: 100px;
    left: 12px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 9px;
    width: 603px;
  }
  
  .wrapper .frame-wrapper {
    height: 574px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 118px;
    width: 1356px;
  }
  
  .wrapper .overlap-group-wrapper {
    height: 602px;
    left: 224px;
    position: relative;
    width: 909px;
  }
  
  .wrapper .overlap-group {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 25px;
    height: 545px;
    left: 27px;
    position: relative;
    top: 29px;
    width: 861px;
  }
  
  .wrapper .text-wrapper-7 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 28px;
    font-weight: 400;
    left: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 43px;
    width: 159px;
  }
  
  .wrapper .rectangle {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 16px;
    height: 60px;
    left: 370px;
    position: absolute;
    top: 29px;
    width: 465px;
  }
  
  .wrapper .text-wrapper-8 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 28px;
    font-weight: 400;
    left: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 116px;
    width: 143px;
  }
  
  .wrapper .rectangle-2 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 16px;
    height: 60px;
    left: 370px;
    position: absolute;
    top: 113px;
    width: 465px;
  }
  
  .wrapper .text-wrapper-9 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 28px;
    font-weight: 400;
    left: 34px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 183px;
    width: 139px;
  }
  
  .wrapper .rectangle-3 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 16px;
    height: 60px;
    left: 370px;
    position: absolute;
    top: 197px;
    width: 465px;
  }
  
  .wrapper .your-query {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 28px;
    font-weight: 400;
    left: 21px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 262px;
    width: 247px;
  }
  
  .wrapper .rectangle-4 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 16px;
    height: 106px;
    left: 370px;
    position: absolute;
    top: 290px;
    width: 465px;
  }
  
  .wrapper .overlap-2 {
    background-image: url(https://c.animaapp.com/jc4yPCKm/img/rectangle-25.svg);
    background-size: 100% 100%;
    height: 79px;
    left: 293px;
    position: absolute;
    top: 439px;
    width: 192px;
  }
  
  .wrapper .text-wrapper-10 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 28px;
    font-weight: 600;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 17px;
    width: 128px;
  }
  
  .wrapper .frame-2 {
    height: 120px;
    left: 95px;
    position: absolute;
    top: 1513px;
    width: 1254px;
  }
  
  .wrapper .text-wrapper-11 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 60px;
    font-weight: 600;
    height: 100px;
    left: 100px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 9px;
    width: 1053px;
  }
  
  .wrapper .overlap-wrapper {
    height: 223px;
    left: 48px;
    position: absolute;
    top: 1678px;
    width: 648px;
  }
  
  .wrapper .overlap-3 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 12px;
    height: 196px;
    left: 12px;
    position: relative;
    top: 15px;
    width: 618px;
  }
  
  .wrapper .what-should-i-do-if {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 27px;
    font-weight: 600;
    left: 17px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    width: 584px;
  }
  
  .wrapper .click-on-the-forgot {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 28px;
    font-weight: 400;
    left: 17px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 68px;
    width: 576px;
  }
  
  .wrapper .frame-3 {
    height: 223px;
    left: 754px;
    overflow: hidden;
    position: absolute;
    top: 1922px;
    width: 648px;
  }
  
  .wrapper .overlap-4 {
    height: 240px;
    left: 12px;
    position: relative;
    top: 15px;
    width: 620px;
  }
  
  .wrapper .rectangle-5 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 12px;
    height: 196px;
    left: 0;
    position: absolute;
    top: 0;
    width: 618px;
  }
  
  .wrapper .can-i-share-my-diary {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 28px;
    font-weight: 400;
    left: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 20px;
    width: 600px;
  }
  
  .wrapper .span {
    font-weight: 600;
  }
  
  .wrapper .text-wrapper-12 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .wrapper .frame-4 {
    height: 223px;
    left: 48px;
    position: absolute;
    top: 1921px;
    width: 648px;
  }
  
  .wrapper .what-is-a-password {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 28px;
    font-weight: 400;
    left: 27px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 22px;
    width: 562px;
  }
  
  .wrapper .frame-5 {
    height: 223px;
    left: 757px;
    position: absolute;
    top: 1679px;
    width: 648px;
  }
  
  .wrapper .overlap-5 {
    height: 224px;
    left: 12px;
    position: relative;
    top: -13px;
    width: 618px;
  }
  
  .wrapper .rectangle-6 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 12px;
    height: 196px;
    left: 0;
    position: absolute;
    top: 28px;
    width: 618px;
  }
  
  .wrapper .can-i-access-my {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 28px;
    font-weight: 400;
    left: 17px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 601px;
  }
  